<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <title>{{appName 'portfolio'}}</title>
</head>
<body>
{{>header}}    
<h1>{{pageHeading}}</h1>
<p>{{paragraph}}</p>
{{>footer}}

</body>
</html>